body {
    margin: auto;
    background: #F8F8F8;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 88px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
}


@font-face {
    font-family: "TT Lakes";
    src: url("sources/TTLakes-Bold.ttf") format("truetype"); 
    font-weight: bold; 
}
@font-face {
    font-family: "TT Lakes";
    src: url("sources/TTLakes-Regular.ttf") format("truetype"); 
    font-weight: lighter; 
}
@font-face {
    font-family: "TT Lakes";
    src: url("sources/TTLakes-Medium.ttf") format("truetype"); 
    font-weight: normal; 
}


/*_____________ВЕРХНЕЕ МЕНЮ_______________*/
.menu-horizontal {
    display: flex;
    align-items: center;
    border-bottom: #D9FFF5;
    width: 100%;
}
.menu-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu-button:hover {
    box-shadow: 0px 0px 10px 1px #ffb6cc;
}
.menu-horizontal__buttons-left {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.menu-horizontal__buttons-right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/*_____________БОКОВОЕ МЕНЮ_______________*/
.menu-vertical {
    background-color: white;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
                -2px 0px 4px rgba(69, 79, 126, 0.02);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    /*overflow: auto;*/
    overflow-y:auto;
    overflow-x:hidden;
    width: 320px;
    min-width: 320px;
}
.wrapper.withLeftMenu .menu-vertical {
    display: flex;
}

.menu-vertical__div-top {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.menu-vertical__buttons {
    height: 88px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
.menu-vertical__buttons-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 154px;
}
.menu-vertical__buttons-right {
    display: flex;
    align-items: center;
    width: 40px;
}
.menu-vertical__tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 28px;
    /*height: 480px;*/
    min-height: 320px;
    max-height: 480px;
    height: 100%;
}
.tab-vertical {
    height: 32px;
    cursor: pointer;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 32px;
    font-size: 16px;
    white-space: nowrap;
    padding-left: 24px;
    letter-spacing: -0.2px;
}
.tab-vertical:active, .tab-vertical:hover {
    transition: 0.5s;
    color: rgb(65, 246, 215);
}
.tab-vertical_active {
    color: #7E7E82;
}
.tab-vertical_active::before {
    content: "";
    width: 4px;
    height: 32px;
    position:absolute;
    background: rgb(65, 246, 215);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -24px;
}

.menu-vertical_div-bottom {
    padding-left: 24px;
}
.menu-vertical__contacts {
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin-top: 48px;
}
.menu-vertical__email {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #1B1C21;
    letter-spacing: -0.2px;
}
.menu-vertical__phone p {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: #1B1C21;
    letter-spacing: -0.6px;
    margin: 0px;
    margin-bottom: 36px;
}
.menu-vertical__languages {
    font-size: 16px;
    font-family: "TT Lakes";
    font-weight: normal;
    line-height: 24px;
    color: #1B1C21;
    letter-spacing: -0.2px;
    margin-bottom: 32px;
    width: 87px;
    display: flex;
    justify-content: space-between;
}
.language_active {
    color: #7E7E82;
    cursor: pointer;
}
.language_disactive:hover, .language_active:hover {
    color: #7E7E82;
    cursor: pointer;
    border-bottom: 1px solid #7E7E82;
}

/*_____________КОНТЕНТ_______________*/
.without-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.page {
    display: block;
    flex-wrap: wrap;
    overflow-x:hidden;
}
.page__header1 {
    display: flex;
    align-items: center;
}
.page__header1::before {
    content: "";
    width: 4px;
    height: 40px;
    position:absolute;
    background: rgb(65, 246, 215);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.page__textHeader1 {
    margin: 0px;
    font-size: 28px;
    font-family: "TT Lakes";
    font-weight: bold; 
    position: relative;
}

.page__tab {
    display: flex;
    overflow-x: hidden;
    /*overflow-x: auto;*/
    align-content: flex-start;
    align-items: flex-start;
    padding-right: 5px;
}
.tab {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: "TT Lakes";
    font-weight: lighter; 
    line-height: 24px;
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
    /*border: 2px solid transparent;*/
    padding: 2px 14px;
}
.tab:active, .tab:focus, .tab:hover {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
    padding: 0px 12px;
}
.tab_active{
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
    padding: 0px 12px;
}

p{
    font-size: 14px;
    font-family: "TT Lakes";
    font-weight: lighter; 
    line-height: 18px;
    color: #1B1C21;
    letter-spacing: 0.2px;
}
.content__text {
    margin-top: 12px;
    margin-bottom: 8px;
}
.content__readMore {
    display: flex;
    height: 24px;
    margin-top: 8px;

}
.readMore__expand {
    display: flex;
    text-decoration: none;
}
.readMore__text {
    height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: normal; 
    line-height: 24px;
}
.content__img {
    width: 100%; /*320px*/
    margin-top: 12px;
}

.swiper-slide:hover .brands__more{
    background-color: #ff3e780a;
}

.brands {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.textHeader2 {
    padding: 16px; /*при 320px*/
    font-family: "TT Lakes";
    font-weight: lighter; 
    line-height: 24px;
    font-size: 16px;
    color: #7E7E82;
    letter-spacing: -0.2px;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    margin-bottom: 16px;
    margin-top: 0px;
}
.brands__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 24px;
    margin-right: 24px;
    row-gap: 16px;
    column-gap: 16px;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 24px;

}
.brands__element {
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    min-width: 224px;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 72px;
    cursor: pointer;
}
.brands__element:hover {
    box-shadow: 0px 0px 10px 2px #EAEAEA;
}
.brands__element:hover .brands__more{
    background-color: #ff3e780a;
}
.brands__more {
    display: flex;
    border-radius: 100%;
}
.brands.brands_open .brands__element {
    display: flex;
}
.brands.brands_open .expand__img {
    transform: scaleY(-1);
}
.brands .content__readMore {
    height: 24px;
    padding-left: 24px;
    margin-top: 0px;
}
.brands .readMore__expand {
    border: none; 
    background: none;
    cursor: pointer;
}



/*width: 320*/
@media (min-width: 10px)and (width<768px) {
    /*_____________МЕНЮ_______________*/
    header {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .menu-horizontal {
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }
    .menu-horizontal__buttons-left {
        width: 154px;
        justify-content: space-between;
    }
    .menu__logo {
        margin-left: 0px;
    }
    .menu-horizontal__buttons-right {
        width: 114px;
        justify-content: space-between;
    }
    .menu-horizontal__separator {
        margin-left: 0px;
    }
    .menu-button_hidden { display: none; }

    /*_____________КОНТЕНТ_______________*/
    .page__header1, .page__tab, .content, .brands, .typesEquipment, .price {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .menu-vertical {
        display: none;
        position: fixed;
        top: 0px;
        z-index: 1;
        height: 100%;
    }
    .menu-vertical__buttons-left {
        width: 154px;
    }
    .menu-button_visible {
        display: flex;
    }
    .page {
        width: 100%; 
    }
    .content{
        width: 100%;
    }
    .content__block-left{
        padding-left: 16px;
        padding-right: 16px;}
    .page__textHeader1 {
        padding-left: 16px;
    }
    .page__buttons { display: none; }
    .page__tab {
        padding-left: 16px;
        padding-right: 16px;
    }
    .content__text {
        width: 100%;
    }
    .tab_hidden { display: none; }
    .tab_visible { display: block; }
    .content__text_visible768 {
        display: none;
    }
    .content__text_visible1120 {
        display: none;
    }



    
    .swiper {
        width: 50%;
        min-width: 220px;
        display: flex;
        justify-content: space-between;
        z-index: 0;
    }
    .brands__swiper-wrapper {
        height: 72px;
    }
    .typesEquipment__swiper-wrapper {
        height: 160px;
    }
    .brands__swiper {
        height: 116px;
    }
    .typesEquipment__swiper {
        height: 204px;
    }
    .swiper-slide {
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        background-color: #FFFFFF;
        box-sizing: border-box;
        min-width: 220px !important;
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        cursor: pointer;
    }
    .typesEquipment__swiper .swiper-slide {
        flex-direction: column;
    }    
    .typesEquipment_text {
        align-self: flex-start;
        font-family: "TT Lakes";
        font-weight: normal; 
        line-height: 24px;
        font-size: 16px;
        color: black;
        letter-spacing: -0.2px;
    } 
    .typesEquipment_more {
        align-self: flex-end;
        padding-bottom:16px;
    } 



    .swiper-pagination-bullet{
        background-color: #DDDDDD;
        width: 12px;
        height: 12px;
    }
    .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
        width: 12px;
        height: 12px;
    }
    .brands__grid {
        display: none;
    }
    .brands .content__readMore {
        display: none;
    }
}



/*width: 768*/
@media (min-width: 768px) {
    /*_____________МЕНЮ_______________*/
    .menu-horizontal {
        width: 100%;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
    }
    .menu-horizontal__buttons-left {
        width: 172px;
        justify-content: space-between;
    }
    .menu__logo {
        margin-left: 0px;
    }
    .menu-horizontal__buttons-right {
        width: 282px;
        justify-content: space-between;
    }
    .menu-horizontal__separator {
        margin-left: 0px;
    }
    .menu-button_hidden { display: flex; }

    /*_____________КОНТЕНТ_______________*/
    .page__header1, .page__tab, .content, .brands, .typesEquipment, .price {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .menu-vertical {
        display: none;
        position: fixed;
        top: 0px;
        z-index: 1;
        height: 100%;
    }
    .menu-vertical__buttons-left {
        width: 154px;
    }
    .menu-button_visible {
        display: flex;
    }
    .page {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .page__textHeader1 {
        padding-left: 24px;
    }
    .page__buttons { display: none; }
    .page__tab {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        box-sizing: border-box;
        /*flex-wrap: wrap;*/
        /*max-width: 768px;*/
    }
    .tab_hidden {
        display: none;
    }
    .tab_visible {
        display: block;
    }
    .content{
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
    }
    .content__block-left {
        display: flex;
        flex-direction: column;
        width: 47%;
        padding-right: 48px;
    }
    .content__block-right {
        width: 53%;
    }
    .content__text {
        line-height: 20px;
    }
    .content__text_visible768 {
        display: block;
        line-height: 20px;
        margin-top: 12px;
        margin-bottom: 0px;
    }
    .content__text_visible1120 {
        display: none;
    }
    .content__img {
        border-radius: 7px;
    }
    .swiper {
        display: none;
    }
    .brands__grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
    }
    .textHeader2 {
        padding-left: 24px;
        margin-bottom: 24px;
    }
    .brands__element_hidden {
        display: none;
    }
    .brands .content__readMore {
        padding-left: 24px;
        display: flex;
    }
}



/*width: 1120*/
@media (min-width: 1120px) {
    header { display: none; }

    .menu-vertical {
        display: flex;
        position: static;
        height: auto;
    }
    .menu-vertical__buttons-left {
        width: 98px;
    }
    .menu-button_visible {
        display: none;
    }
    .page__header1, .page__tab, .content, .brands, .typesEquipment, .price {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .page {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .page__header1 {
        width: 100%;
        justify-content: space-between;
        padding-right: 35px;
        box-sizing: border-box;
    }
    .page__textHeader1 {
        padding-left: 35px;
    }
    .page__buttons { 
        display: flex; 
        width: 380px;
        justify-content: space-between;
    }
    .page__buttons_detailed {
        width: 178px;
        display: flex;     
        align-items: center;
        justify-content: end;
        font-size: 16px;
        font-family: "TT Lakes";
        font-weight: normal; 
        line-height: 24px;
        letter-spacing: -0.2px;
        text-decoration: none;
        color: #1B1C21;
    }
    .page__buttons_detailed .menu-button {
        margin-left: 12px;        
    }
    .page__tab {
        padding-left: 35px;
        padding-right: 35px;
        overflow:hidden;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 0px;
    }
    .tab_hidden {
        display: block;
    }
    .tab_visible {
        display: none;
    }
    .tab {
        padding-left: 18px;
        padding-right: 18px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 2px 20px;
    }
    .tab:active, .tab:focus, .tab:hover,.tab_active {
        padding: 0px 18px;
    }
    .content {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        box-sizing: border-box;
    }
    .content__block-left {
        display: flex;
        width: 47%;
        padding-right: 48px;
    }
    .content__block-right {
        width: 53%;
        display: flex;
        justify-content: end;
    }

    .content__text {
        margin-top: 6px;
    }
    .content__text_visible1120 {
        display: inline;
    }
    .content__img{
        margin-top: 0px;
        max-width: 650px;
    }
    .swiper {
        display: none;
    }
    .brands__grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 35px;
        padding-right: 35px;

    }
    .brands__element_hidden {
        display: flex;
    }
    .textHeader2 {
        padding-left: 35px;
        margin-bottom: 24px;
    }
    .brands__element_windowSize_1120 {
        display: none;
    }


    .brands .content__readMore {
        padding-left: 35px;
        display: flex;
    }
}


